<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homeplumber">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomePlumber"
        android:usesCleartextTraffic="true">
        <activity
            android:parentActivityName=".WelcomeWorker"
            android:name=".UpdateProfile"
            android:exported="true" />
        <activity
            android:name=".ChangePassword"
            android:exported="true" />
        <activity
            android:name=".MyBookings"
            android:exported="true"
            android:parentActivityName=".WelcomeUser" />
        <activity
            android:parentActivityName=".WelcomeUser"
            android:name=".BookingActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeWorker"
            android:exported="true" />
        <activity
            android:name=".WelcomeUser"
            android:exported="true"
            android:theme="@style/Theme.HomePlumber1" />
        <activity
            android:name=".WokerDetail"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>